/**
 * ImageUploader 图片上传组件样式
 */

.image-uploader {
  position: relative;
  width: 100%;
  height: 320rpx;
  border-radius: 12rpx;
  overflow: hidden;
  background-color: #FFFFFF;
  border: 2rpx dashed #E8E8E8;
  transition: all 0.2s;
  box-sizing: border-box;

  &.circle {
    width: 160rpx;
    height: 160rpx;
    border-radius: 50%;
    border-style: solid;
  }

  &:active {
    opacity: 0.8;
  }
}

.image-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;

  &.circle {
    border-radius: 50%;
  }
}

.image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  box-sizing: border-box;

  &.circle {
    background-color: #FFFFFF;
  }
}

.placeholder-icon {
  width: 80rpx;
  height: 80rpx;
  line-height: 80rpx;
  text-align: center;
  font-size: 72rpx;
  color: #999999;
  font-weight: 300;
  display: block;
  background-color: #FFFFFF;

  .circle & {
    width: 60rpx;
    height: 60rpx;
    line-height: 60rpx;
    font-size: 60rpx;
    border-radius: 50%;
  }
}

.placeholder-text {
  font-size: 24rpx;
  color: #999999;
  margin-top: 16rpx;
  display: block;

  .circle & {
    margin-top: 8rpx;
  }
}

